// ---------- Initial State ----------

.flp-container {
	position: relative;
	height: 200px;
}

.init-img-state {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}
// ---------- Transition ----------

.flp-trans-state {
	transition: all 1s cubic-bezier(.12,-.59,.8,1);
}

.flp-img-state{
	transform: rotateY(360deg);
}

